body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF6E0;
}

a {
  color: #00B7FF;
}

li {
  /*display: block;*/
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: bisque;
}

form {
  padding: 20px;
}

.nestedForm {
  display: flex;
  flex-direction: column;
}

.nestedElement {
  padding: 20px 0 0 0;
}

