<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newspaper API</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <h1 class="welcome"><%=locals.welcomeTitle%></h1>
    <%=locals.text%>
    <form action="/postCountryRequest" method="POST">
        <label>Filter by country
            <input type="text" name="country" value="<%= locals.country %>" />
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>